@import 'variables.css';

@tailwind base;
@layer base {
  .x-input {
    @apply h-10 rounded px-2 text-left text-base leading-5 md:h-12 md:px-4;
    @apply hover:border-gray-5 w-full appearance-none bg-none focus:ring;
    @apply placeholder-gray-4 border outline-none transition;
  }

  .x-button {
    @apply relative inline-flex w-max items-center rounded text-base font-medium outline-none focus:ring;
  }

  .x-button-icon {
    @apply h-10 w-10 justify-center leading-10;
  }
  .x-button-md {
    @apply h-10 px-4 leading-10;
  }
  .x-button-xl {
    @apply leading-12 h-12 px-8;
  }

  .x-button-text {
    @apply hover:bg-black-opacity-1 text-current;
  }
  .dark .x-button-text {
    @apply hover:bg-white-opacity-2 text-current;
  }
  .x-button-primary {
    @apply hover:bg-primary-dark bg-primary text-white;
  }
  .x-button-warning {
    @apply hover:bg-warning-bright focus:ring-warning-opacity-5 bg-warning text-black;
  }
  .x-button-ghost {
    @apply bg-white-opacity-3 hover:bg-white-opacity-4 focus:ring-white-opacity-5 text-white;
  }

  .x-grid {
    @apply mx-auto grid w-5/6 max-w-6xl grid-cols-1 items-center gap-y-16 lg:grid-cols-10 lg:gap-x-16 lg:gap-y-32;
  }

  .x-col-contents {
    @apply prose prose-lg mx-auto max-w-lg text-center lg:max-w-none lg:text-left;
  }
  .x-row-contents {
    @apply prose prose-lg mx-auto max-w-lg text-center lg:col-span-6 lg:col-start-3 lg:max-w-none;
  }

  .x-py {
    @apply py-24 lg:py-48;
  }
  .x-pt {
    @apply pt-24 lg:pt-48;
  }
  .x-row-reverse {
    @apply row-start-1 lg:row-start-auto;
  }

  .x-z-0 {
    transform: translateZ(0);
  }
  .x-z-100 {
    transform: translateZ(100px);
  }

  /* 轮播图样式 */
  #slideshow .x-image {
    @apply absolute top-0 left-0;
  }
  #slideshow figure {
    transition: opacity 1s linear;
    @apply absolute top-0 left-0 opacity-0;
  }
  #slideshow figure.active {
    opacity: 1;
  }
}

/* mui 日期选择器样式修复 */
input[type='tel'] {
  box-shadow: none !important;
}
