.markdown-area {
  // 修复最后一个节点的样式异常
  padding-bottom: 1px;

  // 表格样式
  table {
    tr {
      border-top: 1px solid #c6cbd1;
      background: #fff;
    }

    th, td {
      padding: 6px 13px;
      border: 1px solid #dfe2e5;
    }

    tr:nth-child(2n) {
      background: #f6f8fa;
    }

    thead tr {
      background: #f6f8fa;
    }
  }

  // 单行代码的样式
  p {
    code {
      display: inline-block;
      background: #e0e0e0;
      margin-left: 3px;
      margin-right: 3px;
      border-radius: 3px;
      padding: 0.05rem 0.35rem;
      letter-spacing: 0.2px;
      font-weight: 500;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

      &::before, &::after {
        display: none;
      }
    }
  }

  // 代码块
  pre {
    .hljs-variable {
      color: #9876aa;
    }

    .function_ {
      color: rgb(255, 198, 109);
    }
  }

  code[class*='language-'],
  pre[class*='language-'] {
    color: #f8f8f2;
    background: 0 0;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }

  pre[class*='language-'] {
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
    border-radius: 0.3em;
  }

  :not(pre) > code[class*='language-'],
  pre[class*='language-'] {
    background: #272822;
  }

  :not(pre) > code[class*='language-'] {
    padding: 0.1em;
    border-radius: 0.3em;
    white-space: normal;
  }

  .hljs-cdata,
  .hljs-comment,
  .hljs-doctype,
  .hljs-prolog {
    color: #8292a2;
  }

  .hljs-punctuation {
    color: #f8f8f2;
  }

  .hljs-namespace {
    opacity: 0.7;
  }

  .hljs-constant,
  .hljs-deleted,
  .hljs-property,
  .hljs-symbol,
  .hljs-tag {
    color: #f92672;
  }

  .hljs-boolean,
  .hljs-number {
    color: #ae81ff;
  }

  .hljs-attr-name,
  .hljs-builtin,
  .hljs-char,
  .hljs-inserted,
  .hljs-selector,
  .hljs-string {
    color: #a6e22e;
  }

  .language-css .hljs-string,
  .style .hljs-string,
  .hljs-entity,
  .hljs-operator,
  .hljs-url,
  .hljs-variable {
    color: #f8f8f2;
  }

  .hljs-atrule,
  .hljs-attr-value,
  .hljs-class-name,
  .hljs-function {
    color: #e6db74;
  }

  .hljs-keyword {
    color: #66d9ef;
  }

  .hljs-important,
  .hljs-regex {
    color: #fd971f;
  }

  .hljs-bold,
  .hljs-important {
    font-weight: 700;
  }

  .hljs-italic {
    font-style: italic;
  }

  .hljs-entity {
    cursor: help;
  }
}
