@tailwind base;
@layer base {
  #__next {
    @apply text-lg leading-5 text-black bg-white capitalize;
    font-size: 1rem;
    line-height: 1.75;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: 'liga', 'kern';
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  #__next:lang(zh) {
    font-family: var(--font-zh-cn);
  }

  #__next:lang(en) {
    font-family: var(--font-en-us);
  }
}
@tailwind components;
@tailwind utilities;

html {
  /* Font Family */
  --font-zh-cn: 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
  --font-zh-tw: 'MHei', 'Helvetica Neue', 'Helvetica', 'Arial', 'Verdana', sans-serif;
  --font-ja-jp: 'Apple TP', 'Helvetica Neue', 'Helvetica', 'Hiragino Kaku Gothic Pro',
    'ヒラギノ角ゴ Pro W3', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'Arial', 'Verdana', sans-serif;
  --font-en-us: 'Myriad Set Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
}

.demo {
  color: #212121;
  font-size: 16px;
  font-weight: 600;
  box-shadow: -1px -1px 1px white, 1px 1px 1px black;
}
.demo.active {
  color: white;
  box-shadow: -3px -3px 3px white, 3px 3px 3px black;
}